.app-profile-details {
  display: flex;
}
.picture-container {
  margin-right: 64px;
}
.picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid black 5px;
}
.details-container {
  h1 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
    color: gray;
  }
}
.favorite-food-container,
.biography-container {
  margin: 24px 64px 0 0;
}
